
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Thank you <% @booking.passenger.name %> for booking in our page</h3>
    <p>To see more details click here:  <%= link_to "#{@url}", @url %></p>
  </body>
</html>