<tr>
    <td><%= flight.from_airport.code%></td>
    <td><%= flight.to_airport.code%></td>
    <td><%= flight.flight_date.strftime("at %I:%M%p") %></td>
    <td><%= flight.flight_duration%> hours</td>
</tr>